.choose-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;

  margin-left: 363px;
  margin-bottom: 75px;
  margin-right: 363px;
}

.yaht-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
  margin-right: 100px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.card-wrapper {
  border-radius: 24px;
  width: 392px;
  height: 508px;
  background-color: #fff;
  padding: 16px 16px 32px 16px;
}

.box-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 172px;
  max-width: 328px;
  height: 109px;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  height: 19px;
  margin: 32px 0px;
  margin-right: 32px;
}

.card-text-maine {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #1b414b;
}

.card-text-second {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
  opacity: 0.4;
}

.card-text-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 6px;
  opacity: 0.4;
  width: 62px;
  height: 109px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #040306;
}

.card-text-price {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  width: 94px;
  height: 109px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #040306;
}

.choose-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border: 1px solid rgba(251, 251, 251, 0.35);
  border-radius: 15px;
  padding: 16px 40px;
  width: 179px;
  height: 52px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin: 50px auto 150px;
  background: #0e1823;
  color: #fbfbfb;
}
